body {
  font-family: Roboto;
}

.navbar {
  margin: 0;
}

.my-container {
  background-color: #00bbd6;
  height: 100%;
  padding: 3%;
}

#sport-desc {
  margin: 50px;
  font-size: 16px;
}

ul {
  margin: 50px;
  font-size: 20px;
}

#subs li {
  margin: 10px;
}

h1 {
  text-align: center;
  margin-top: 0;
}
.purple {
  color: #520ce8;
}

#form_inscription {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-around;
  align-items: center;
}

#form_inscription input {
  width: 50%;
  background: #eaeff1;
  border-radius: 15px;
  border: none;
  padding: 10px;
}
