<% include ../layout/header_not_co %>

<div class="my-container">

    <h1 class="purple">Connecte-toi !</h1>

    <input id="enter_email" placeholder="Email">
    <input id="enter_mdp" placeholder="Mot de passe">

    <button id="submit_connection">Connexion</button>
    <a href="/inscription">Je n'ai pas encore de compte</a>

</div>

</body>

</html>