<% include ../layout/header %>

<div id="back_color">

    <h1 id="inscris_toi" class="purple">Thanks for getting in touch !</h1>
    <p>You are
        <%=userData.firstname%>
        <%=userData.lastname%>
    </p>
    <p>Your email is
        <%=userData.email%>
    </p>


</div>

</body>

</html>