<% include ../layout/header_co %>

<div id="back_color" class="my-container">
    <h1 id="inscris_toi" class="purple">Bienvenue <%=userData.firstname%> !</h1>
    
    <ul>
        
        <p>Les sports proposés sont :</p>
        <%sportsList.forEach(function(sport){
        %>
        <li><a href="<%= '/sports/' + sport.id %>"><%=sport.sport_name%></a></li>
    <%
    });%>
    </ul>
    
</div>
</body>
</html>