<!--Header hors connexion-->
<% include ../layout/header_not_co %>

<div id="back_color">

    <h1>Bienvenue sur le site d'inscriptions aux séances de sports de l'école !</h1>

    <h2>Sur ce site tu trouveras tous les renseignements sur les sports ainsi les formulaires pour t'inscrire aux séances de chacun d'eux !</h2>

    <a href="/inscription">Je n'ai pas encore de compte</a>
    <br/>
    <a href="/connection">Je me connecte à mon compte</a>

</div>

</body>

</html>