<!--Header hors connexion si req.session.userData est null-->
<!--Sinon Header version connecté-->
<% include ../layout/header_not_co %>
<div id="back_color">

<h1 id="inscris_toi" class="purple">Sport : <%=sportDescription.sport_name%> !</h1>
<p>Description : <%=sportDescription.description%> </p>
     
</div>

</body>

</html>