<% include ../layout/header_co %>
<div id="back_color">

<h1 id="inscris_toi" class="purple">Sport : <%=sportData.sport_name%> !</h1>
<p>Description : <%=sportData.description%> </p>

<form id="form_subscription" method="POST" action="/sports/<%=sportId%>"> 
    <button class="btn btn-primary" type=submit> S'abonner</button>
</form>
     
</div>

</body>

</html>